<ion-header>
  <ion-navbar color="mustangblue">
    <ion-title>Teachers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar
        (ionInput)="onSearch($event)"
        (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div *ngFor="let letter of letters">

    <ion-item-group *ngIf="curTeachers[letter] && curTeachers[letter].length > 0">

      <ion-item-divider color="light">{{ letter }}</ion-item-divider>

      <ion-list>

        <ion-item-sliding *ngFor="let teacher of curTeachers[letter]">
          <ion-item>
            {{ teacher.name }}
            <p (click)="viewTeacher(teacher)">{{ cleanWebsite(teacher) }}</p>
          </ion-item>
          <ion-item-options side="right">
          <button ion-button color="primary"  (click)="emailTeacher(teacher)">
            <ion-icon name="mail"></ion-icon>
          </button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

    </ion-item-group>

  </div>

</ion-content>
