<ion-header>
  <ion-navbar color="mustangblue">
    <ion-title>Grades</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="gradeType">
      <ion-segment-button value="current">
        Current
      </ion-segment-button>
      <ion-segment-button value="reportcard">
        Report Card
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="options"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="openLegal()"><ion-icon name="list-box"></ion-icon></button>
      <button ion-fab (click)="showLogin()"><ion-icon name="person-add" color="great"></ion-icon></button>
      <button ion-fab (click)="logout()"><ion-icon name="close-circle" color="danger"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-refresher (ionRefresh)="refreshCurrent($event)">
    <ion-refresher-content
      pullingText="Refresh"
      refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loading && currentGrades.length == 0">
    <ion-chip margin-top>
      <ion-label>Use the options button in the top right to login.</ion-label>
      <ion-icon name="options"></ion-icon>
    </ion-chip>
  </div>

  <div *ngIf="loading" text-center>
    <ion-chip>
      <ion-label>Loading...</ion-label>
    </ion-chip>
  </div>

  <div [ngSwitch]="gradeType">

    <ion-list *ngSwitchCase="'current'">

        <ion-item *ngFor="let subject of currentGrades">
          <ion-icon name='calculator' item-start></ion-icon>
          <ion-label (click)="openClassGrades(subject)">{{ subject.name }}</ion-label>
          <ion-badge item-end color="{{ getColor(subject.letter) }}">{{ subject.overallavg }}</ion-badge>
        </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'reportcard'">

    </ion-list>

  </div>

</ion-content>
