<ion-header>
    <ion-navbar color="mustangblue">
        <ion-title>Grades</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="gradeType">
            <ion-segment-button value="current">
                Current
            </ion-segment-button>
            <ion-segment-button value="reportcard">
                Report Card
            </ion-segment-button>
            <ion-segment-button value="transcript">
                GPA
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding (swipe)="swipeTab($event)">

    <ion-fab top right edge #fab>
        <button ion-fab mini color="mustangblue"><ion-icon name="options"></ion-icon></button>
        <ion-fab-list>
            <button ion-fab (click)="openLegal(fab)"><ion-icon name="list-box"></ion-icon></button>
            <button ion-fab (click)="showLogin(fab)"><ion-icon name="person-add" color="great"></ion-icon></button>
            <button *ngIf="!loading && currentGrades.length > 0" ion-fab (click)="refreshCurrent()"><ion-icon name="refresh" color="poor"></ion-icon></button>
            <button *ngIf="currentGrades.length > 0" ion-fab (click)="logout(fab)"><ion-icon name="close-circle" color="danger"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab top left edge *ngIf="gradeType == 'reportcard' && reportCardGrades && reportCardGrades.length > 0">
        <button ion-fab mini color="poor" (click)="calculate()"><ion-icon name="calculator"></ion-icon></button>
    </ion-fab>

    <ion-refresher (ionRefresh)="refreshCurrent($event)">
        <ion-refresher-content pullingText="Refresh" refreshingSpinner="crescent" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card *ngIf="!loading && currentGrades.length == 0">
        <ion-card-header>
            Login
        </ion-card-header>
        <ion-card-content>
            Use the button in the top right to login.
            <br> (
            <ion-icon name="options" color="mustangblue"></ion-icon> then
            <ion-icon name="person-add" color="great"></ion-icon>)
        </ion-card-content>
    </ion-card>

    <div *ngIf="loading" text-center>
        <ion-chip>
            <ion-label>Please wait...</ion-label>
        </ion-chip>
    </div>

    <div [ngSwitch]="gradeType">

        <ion-list *ngSwitchCase="'current'">

            <ion-item *ngFor="let subject of currentGrades">
                <ion-icon name='{{ getIcon(subject) }}' item-start></ion-icon>
                <ion-label (click)="openClassGrades(subject)">{{ subject.name }}</ion-label>
                <ion-badge item-end color="{{ getColor(subject.letter) }}">{{ subject.overallavg }}</ion-badge>
            </ion-item>

            <div *ngIf="currentGrades.length != 0" class="note">Last Updated {{ timeAgo(lastUpdated) }}</div>

        </ion-list>

        <div *ngSwitchCase="'reportcard'">

            <ion-list>

                <ion-card *ngFor="let subject of reportCardGrades">
                    <ion-card-header>
                        {{ subject.name }}
                    </ion-card-header>
                    <ion-card-content>
                        <p>9 Weeks</p>
                        <ion-row>
                            <ion-col col-3>
                                <ion-badge color="{{ getColor(subject.averages[0].letter) }}">{{ fixPercent(subject.averages[0].average) }}</ion-badge>
                            </ion-col>
                            <ion-col col-3>
                                <ion-badge color="{{ getColor(subject.averages[1].letter) }}">{{ fixPercent(subject.averages[1].average) }}</ion-badge>
                            </ion-col>
                            <ion-col col-3>
                                <ion-badge color="{{ getColor(subject.averages[2].letter) }}">{{ fixPercent(subject.averages[2].average) }}</ion-badge>
                            </ion-col>
                            <ion-col col-3>
                                <ion-badge color="{{ getColor(subject.averages[3].letter) }}">{{ fixPercent(subject.averages[3].average) }}</ion-badge>
                            </ion-col>
                        </ion-row>
                        <hr>
                        <p>Finals</p>
                        <ion-row>
                            <ion-col col-6>
                                <ion-badge color="{{ getColor(subject.exams[0].letter) }}">{{ fixPercent(subject.exams[0].average) }}</ion-badge>
                            </ion-col>
                            <ion-col col-6>
                                <ion-badge color="{{ getColor(subject.exams[1].letter) }}">{{ fixPercent(subject.exams[1].average) }}</ion-badge>
                            </ion-col>
                        </ion-row>
                        <hr>
                        <p>Semesters</p>
                        <ion-row>
                            <ion-col col-6>
                                <ion-badge color="{{ getColor(subject.semesters[0].letter) }}">{{ fixPercent(subject.semesters[0].average) }}</ion-badge>
                            </ion-col>
                            <ion-col col-6>
                                <ion-badge color="{{ getColor(subject.semesters[1].letter) }}">{{ fixPercent(subject.semesters[1].average) }}</ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

            </ion-list>

        </div>

        <div *ngSwitchCase="'transcript'">

          <ion-card *ngIf="transcript.gpa">
            <ion-card-header>
                <h1 text-center><b>{{ gpa.toFixed(3) }}</b></h1>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                  <ion-item>
                    <p text-center>{{ transcript.gpa.rank }} / {{ transcript.gpa.class_size }}</p>
                  </ion-item>
                  <!--<ion-item>
                    <ion-range readonly min="0" max="{{ transcript.gpa.class_size }}" [(ngModel)]="transcript.gpa.class_size - transcript.gpa.rank">
                        <ion-icon color="poor" range-left small name="school"></ion-icon>
                        <ion-icon color="great" range-right name="school"></ion-icon>
                    </ion-range>
                  </ion-item>-->
                  <ion-item>
                    <div text-center><ion-badge color='{{ getColorRank(percentile) }}'>Top {{ percentile }}%</ion-badge></div>
                  </ion-item>
                </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="!transcript.gpa">
            <ion-card-content>
                <h3 text-center>Reload to see GPA</h3>
            </ion-card-content>
          </ion-card>

        </div>

    </div>

</ion-content>
