page-grades {

  .range-knob-handle {
    border-radius: 2px;
  }

  .note {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    padding-top: 2em;
    color: #a2a19f;
  }

}
