<?xml version="1.0" encoding="UTF-8"?>
<div class="padding">
  <super-navbar>
    <super-navbar-title style="text-align: center;">Alma Mater</super-navbar-title>
    <super-navbar-button side="left" onclick="supersonic.ui.modal.hide();">Back</super-navbar-button>
  </super-navbar>

  <div class="card">

    <div class="item item-text-wrap" style="text-align:center;line-height: 2;">
      Oh Cypresss Ranch, may we be ever grateful.<br>
      Of Mustang pride may stories e'er be told.</br>
      May we remember you, our alma mater,</br>
      and hold up right the navy and the gold.</br>
      We stand as one with courage strength and honor.</br>
      Cypress Ranch, in our hearts ever hold.
    </div>

  </div>

</div>
