<script src="sshh12#general"></script>
<div class="">
    <super-navbar>
        <super-navbar-title style="text-align: center;">School</super-navbar-title>
    </super-navbar>

    <ul class="list">
        <super-modal-show location="sshh12#schedule">
            <a class="item item-icon-right">
                <i class="icon super-clock"></i> Schedules
            </a>
        </super-modal-show>

        <super-modal-show location="sshh12#contact">
            <a class="item item-icon-right">
                <i class="icon super-ios-telephone"></i> Contact Cy-Ranch
            </a>
        </super-modal-show>

        <super-modal-show location="sshh12#almamater">
            <a class="item item-icon-right">
                <i class="icon super-document-text"></i> Alma Mater
            </a>
        </super-modal-show>

        <a class="item item-icon-right" onClick="supersonic.app.openURL('https://www.p3tips.com/tipform.aspx?ID=242')">
            <i class="icon super-alert-circled"></i> Tipline
        </a>
    </ul>
</div>
