<script src="sshh12#general"></script>

<div>
   <super-navbar>
      <super-navbar-title style="text-align: center;">Contact</super-navbar-title>
      <super-navbar-button side="left" onclick="supersonic.ui.modal.hide();">Back</super-navbar-button>
   </super-navbar>

   <ul class="list">
     <li class="item" onClick="supersonic.app.openURL('https://www.google.com/maps/place/10700+Fry+Rd,+Cypress,+TX+77433/@29.939356,-95.7214463,17z/data=!3m1!4b1!4m5!3m4!1s0x8640d6088ab13919:0x4b412ca4cb70915e!8m2!3d29.9393514!4d-95.7192523');">
       <b>Address</b> <p style="float: right">10700 Fry Road Cypress, TX 77433</p>
     </li>
     <li class="item" onClick="supersonic.app.openURL('http://cyranch.cfisd.net/en/');">
       <b>Website</b> <p style="float: right">cyranch.cfisd.net</p>
     </li>
     <li class="item" onClick="supersonic.app.openURL('tel:2813732300');">
       <b>Phone</b> <p style="float: right">(281)-373-2300</p>
     </li>
     <li class="item">
       <b>Fax</b> <p style="float: right">(281)-213-1976</p>
     </li>
   </ul>
</div>
