<script src="sshh12#general"></script>
<script src="sshh12#lang"></script>

<div class="">
  <super-navbar>
    <super-navbar-title style="text-align: center;">Credits</super-navbar-title>
    <super-navbar-button class="" side="left" onclick="supersonic.ui.modal.hide();">Back</super-navbar-button>
  </super-navbar>
  <ul class="list">
    <div class="item"><b>Developed By:</b> Shrivu Shankar '18</div>
    <div class="item"><b>News Sources:</b> CyRanchNews.com, Cfisd.net, etc.</div>
  </ul>
</div>
