<script src="sshh12#general"></script>
<script src="sshh12#lang"></script>
<script src="sshh12#grades"></script>

<div class="">

	<super-navbar>
		<super-navbar-title>Grades</super-navbar-title>
		<super-navbar-button side="right" onclick="refreshContent();">Refresh</super-navbar-button>
	</super-navbar>

	<div id="main"></div>
	<div id="loading_box" style="display:flex;justify-content:center;align-items:center;text-align:center;">
		<br><h5>Downloading Grades...</h5><h4 id="status"></h4><br>
		<button class="button button-icon icon super-ios-cloud-download"></button>
	</div>

</div>

<script>
document.getElementById("loading_box").style.display = 'none';
updateGrades();
</script>
