<script src="sshh12#general"></script>
<script src="sshh12#schedules"></script>
<script src="sshh12#lang"></script>

<div class="">
   <super-navbar>
      <super-navbar-title style="text-align: center;">Schedules</super-navbar-title>
      <super-navbar-button side="left" onclick="supersonic.ui.modal.hide();">Back</super-navbar-button>
      <super-navbar-button side="right" onclick="updateList();">Refresh</super-navbar-button>
   </super-navbar>
   <div class="list list-inset">
      <label class="item item-input item-select">
         <div class="input-label">Lunch</div>
         <select id="lunch" style="width: 100%;" onChange="updateList();">
            <option value="none">A, B, C</option>
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
         </select>
      </label>
      <label class="item item-input item-select">
         <div class="input-label">Schedule</div>
         <select id="schedule" style="width: 100%;" onChange="currentSchedule=document.getElementById('schedule').value;updateList();">
            <option value="a">A (Normal)</option>
            <option value="b">B (Extended 2nd)</option>
            <option value="c">C (Pep Rally)</option>
         </select>
      </label>
   </div>
   <ul class="list" id="items"></ul>
</div>
<script>
    var currentSchedule = 'a';

    function updateList() {
        var lunch_letter = document.getElementById("lunch").value;

        var date_now = new Date();

        var lunch_added = false;
        var lunch_timeslots,
            MainSchedule,
            title;

        if (currentSchedule == 'b') {
            lunch_timeslots = BSchedule[2][lunch_letter];
            MainSchedule    = BSchedule[1];
            title           = BSchedule[0];
        } else if (currentSchedule == 'c') {
            lunch_timeslots = CSchedule[2][lunch_letter];
            MainSchedule    = CSchedule[1];
            title           = CSchedule[0];
        } else {
            lunch_timeslots = ASchedule[2][lunch_letter];
            MainSchedule    = ASchedule[1];
            title           = ASchedule[0];
        }

        html = "<div class=\"item item-divider\">" + title + "</div>";

        for (var i = 0; i < MainSchedule.length; i++) {
            if (!lunch_added && i < MainSchedule.length - 1 && MainSchedule[i].start_date.getTime() > lunch_timeslots[lunch_timeslots.length - 1].end_date.getTime()) {
                for (var k = 0; k < lunch_timeslots.length; k++) {
                    html += lunch_timeslots[k].toStringFormat(date_now);
                }
                lunch_added = true;
            }
            html += MainSchedule[i].toStringFormat(date_now);
        }
        document.getElementById("items").innerHTML = html;
    }

    updateList();
</script>
