<script src="sshh12#general"></script>
<script src="sshh12#schedules"></script>
<script src="sshh12#lang"></script>

<div class="">
  <super-navbar>
    <super-navbar-title style="text-align: center;">Schedules</super-navbar-title>
    <super-navbar-button side="left" onclick="supersonic.ui.modal.hide();">Back</super-navbar-button>
    <super-navbar-button side="right" onclick="updateList();">Refresh</super-navbar-button>
  </super-navbar>
  <ul class="list" id="lunches">
    <label class="item item-input item-select">
      <div class="input-label">Lunch</div>
      <select id="lunch" style="width: 100%;" onChange="updateList();">
        <option value="none">Lunch</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
      </select>
    </label>
  </ul>
  <ul class="list" id="schedules">
    <label class="item item-input item-select">
      <div class="input-label">Schedule</div>
      <select id="schedule" style="width: 100%;" onChange="current_schedule=document.getElementById('schedule').value;updateList();">
        <option value="a">A (Normal)</option>
        <option value="b">B (Extended 2nd)</option>
        <option value="c">C (Pep Rally)</option>
      </select>
    </label>
  </ul>
  <ul class="list" id="items">

  </ul>
</div>
<script>
var current_schedule = 'a';

function makeSelect(option){
  var html = "<label class=\"item item-input item-select\"><div class=\"input-label\">Lunch</div><select id=\"lunch\" style=\"width: 100%;\" onChange=\"updateList();\"><option value=\"none\" ";
  var sel_html = "selected=\"selected\"";
  if(option == "none"){
    html += sel_html;
  }
  html += ">Lunch</option><option value=\"a\" ";
  if(option == "a"){
    html += sel_html;
  }
  html += ">A</option><option value=\"b\" ";
  if(option == "b"){
    html += sel_html;
  }
  html += ">B</option><option value=\"c\" ";
  if(option == "c"){
    html += sel_html;
  }
  html += ">C</option></select></label>";
  return html;
}

function updateList(){
  var lunch_letter = document.getElementById("lunch").value;

  var date_now = new Date();

  html = "<div class=\"item item-divider\">" + ScheduleTitles[current_schedule] + "</div>";

  var lunch_added = false;
  var lunch_timeslots = null;
  var MainSched = null;
  if(current_schedule == 'b'){
    lunch_timeslots = BSchedule[1][lunch_letter];
    MainSched = BSchedule[0];
  } else if(current_schedule == 'c'){
    lunch_timeslots = CSchedule[1][lunch_letter];
    MainSched = CSchedule[0];
  } else {
    lunch_timeslots = ASchedule[1][lunch_letter];
    MainSched = ASchedule[0];
  }

  for(var i = 0; i < MainSched.length; i++){
    if(!lunch_added && i < MainSched.length-1 && MainSched[i].start_date.getTime() > lunch_timeslots[lunch_timeslots.length-1].end_date.getTime()){
      for(var k = 0; k < lunch_timeslots.length; k++){
        html += lunch_timeslots[k].toStringFormat(date_now);
      }
      lunch_added = true;
    }
    html += MainSched[i].toStringFormat(date_now);
  }
  document.getElementById("items").innerHTML = html;
}

updateList();
</script>
