<script src="sshh12#polyfill"></script>
<script src="sshh12#general"></script>
<script src="sshh12#defaults"></script>

<div>

	<super-navbar>
		<super-navbar-title>Settings</super-navbar-title>
	</super-navbar>

	<ul class="list">

		<li class='item item-divider head'>News</li>
		<!--<li class="item item-toggle" >
			Notifications
			<label class="toggle toggle-calm">
				<input type="checkbox" disabled="true">
				<div class="track"><div class="handle"></div></div>
			</label>
		</li>-->

		<div id="news">
		</div>

		<label class="item item-input item-select">
			 <div class="input-label">More</div>
			 <select id="newNewsSources" style="width: 100%;" onChange="addNewsSourceFromSelect()">
			 </select>
		</label>

		<li class='item item-divider head'>Grades</li>
		<label class="item item-input">
			<span class="input-label">Username: </span>
			<input type="text" id="username" autocapitalize="none"/>
		</label>
		<label class="item item-input">
			<span class="input-label">Password: </span>
			<input type="password" id="password"/>
		</label>
		<div class="button-bar">
  		<a class="button button-calm" onClick="localStorage.setItem('username', document.getElementById('username').value); localStorage.setItem('password', document.getElementById('password').value);AppAlert('Saved!', 'Click on the Grades tab then tap Refresh to view your grades.')">Save</a>
  		<a class="button button-assertive" onClick="localStorage.setItem('grades', '');localStorage.setItem('username', '');document.getElementById('username').value = '';localStorage.setItem('password', '');document.getElementById('password').value = '';">Log Out</a>
		</div>

		<li class='item item-divider head'>Other</li>
		<li class="item item-toggle">
     AutoLogin to CFISD Wifi
     <label class="toggle toggle-assertive">
       <input type="checkbox" disabled>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
		<a class="item item-icon-right" onClick="supersonic.app.openURL('mailto:shrivu1122@gmail.com')">
			<i class="icon super-email"></i>
			Contact Me!
		</a>
		<super-modal-show location="sshh12#credits">
			<a class="item item-icon-right">
				<i class="icon super-heart"></i>
				Credits
			</a>
		</super-modal-show>
		<super-modal-show location="sshh12#legal">
			<a class="item item-icon-right">
				<i class="icon super-document-text"></i>
				Legal
			</a>
		</super-modal-show>


		<li class='item item-divider head'>Debug <b>(Dev. Only)</b></li>
		<a class="item item-icon-right" href="#" onClick="AppAlert('Debug', getDeviceInfo());">
			<i class="icon super-android-developer"></i>
			Device <b>?</b>
		</a>
		<a class="item item-icon-right" href="#" onClick="resetStorage()">
			<i class="icon super-android-developer"></i>
			Reset Local JS Storage
		</a>
	</ul>
</div>

<script src="sshh12#settings"></script>
